.author_bio_section {background-color: #f5f5f5;padding: 15px;border: 1px solid #ccc;}
.author_name {font-size: 16px;font-weight: bold;}
.author_details img {border: 1px solid #d8d8d8;border-radius: 50%;float: left;margin: 0 10px 10px 0;}