.breadcumb-area {display: none;}
.addtoany_share_save_container {margin-top: 50px;margin-bottom: 50px;}
.mobile-menu .mean-bar {background-color: #0d3b66;}
.mean-container .mean-nav {background-color: #0d3b66;}
.mobile_logo_area {background-color: rgba(13,59,102,.93);}
.addtoany_header {font-weight: bold;}