@font-face {font-family: "aprova";src: url("../fonts/aprova0698.eot?ef1ywa");src: url("../fonts/aprova0698.eot?ef1ywa#iefix") format("embedded-opentype"),url("../fonts/aprova0698.ttf?ef1ywa") format("truetype"),url("../fonts/aprova0698.woff?ef1ywa") format("woff"),url("../fonts/aprova0698.svg?ef1ywa#aprova") format("svg");font-weight: normal;font-style: normal;font-display: block;}
[class^="aprova-"], [class*=" aprova-"] {font-family: "aprova" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.aprova-landing:before {content: "";}
.aprova-bar-chart:before {content: "";}
.aprova-website:before {content: "";}
.aprova-objective:before {content: "";}
.aprova-lightbulb:before {content: "";}
.aprova-analysis:before {content: "";}
.aprova-startup1:before {content: "";}
.aprova-website-1:before {content: "";}
.aprova-profits:before {content: "";}
.aprova-research:before {content: "";}
.aprova-analysis-1:before {content: "";}
.aprova-doctor1:before {content: "";}
.aprova-research-1:before {content: "";}
.aprova-team:before {content: "";}
.aprova-vaccine:before {content: "";}
.aprova-medicine:before {content: "";}
.aprova-drug:before {content: "";}
.aprova-dose:before {content: "";}
.aprova-prize:before {content: "";}
.aprova-reward:before {content: "";}
.aprova-plaster:before {content: "";}
.aprova-medicine1:before {content: "";}
.aprova-chemical:before {content: "";}
.aprova-medicine-1:before {content: "";}
.aprova-doctor:before {content: "";}
.aprova-data:before {content: "";}
.aprova-brain:before {content: "";}
.aprova-lung:before {content: "";}
.aprova-kidney:before {content: "";}
.aprova-mri:before {content: "";}
.aprova-trophy:before {content: "";}
.aprova-envelope-with-a-letter:before {content: "";}
.aprova-verified-text-paper:before {content: "";}
.aprova-calculator-interface-symbol:before {content: "";}
.aprova-clock:before {content: "";}
.aprova-class-with-students-and-whiteboard:before {content: "";}
.aprova-target1:before {content: "";}
.aprova-worldwide:before {content: "";}
.aprova-award:before {content: "";}
.aprova-map:before {content: "";}
.aprova-roof:before {content: "";}
.aprova-clock-1:before {content: "";}
.aprova-wash:before {content: "";}
.aprova-dinner:before {content: "";}
.aprova-food:before {content: "";}
.aprova-shower:before {content: "";}
.aprova-frying-pan-cooking:before {content: "";}
.aprova-music:before {content: "";}
.aprova-fan:before {content: "";}
.aprova-screen:before {content: "";}
.aprova-digital-marketing:before {content: "";}
.aprova-startup:before {content: "";}
.aprova-prize-1:before {content: "";}
.aprova-circular:before {content: "";}
.aprova-computer:before {content: "";}
.aprova-research1:before {content: "";}
.aprova-analytics:before {content: "";}
.aprova-bitcoin:before {content: "";}
.aprova-talk:before {content: "";}
.aprova-bitcoin-1:before {content: "";}
.aprova-bitcoin-2:before {content: "";}
.aprova-bitcoin-3:before {content: "";}
.aprova-bitcoin-4:before {content: "";}
.aprova-bitcoin-5:before {content: "";}
.aprova-bitcoin-6:before {content: "";}
.aprova-password:before {content: "";}
.aprova-bitcoin-7:before {content: "";}
.aprova-blockchain:before {content: "";}
.aprova-ui:before {content: "";}
.aprova-shaver:before {content: "";}
.aprova-shave:before {content: "";}
.aprova-chair:before {content: "";}
.aprova-woman:before {content: "";}
.aprova-gym:before {content: "";}
.aprova-down:before {content: "";}
.aprova-earth-grid-symbol-and-three-persons:before {content: "";}
.aprova-weightlifting:before {content: "";}
.aprova-partner:before {content: "";}
.aprova-city-hall:before {content: "";}
.aprova-shake-hands:before {content: "";}
.aprova-avatar:before {content: "";}
.aprova-target:before {content: "";}
.aprova-contract:before {content: "";}
.aprova-investment:before {content: "";}
.flaticon-arrows:before {content: "";}
.aprova-test:before {content: "";}